.header-bar {
  height: 35px;
  background-color: black;
  border-radius: 0px 0px 7px 7px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
}

.icon-name-con {
  display: flex;
  align-items: center;
}

.home-page-name{
    margin-left: 0.5rem;
}

.filter-type {
  display: flex;
  align-items: center;
  padding-right: 5rem;
  font-family: Blinker;
  /* font-size: 1.7vw; */
}

.filter-lang {
  padding-right: 3rem;
}
